In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv('./data/smart_rest_use.csv', encoding='cp949', thousands=',')

In [21]:
data.head(5)

,지점코드,지점명,00시,01시,02시,03시,04시,05시,06시,07시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,S_0001_SG00,한양대정문 앞,16,3,3,5,1275,2198,3027,4036,...,8458,9400,10346,10294,9874,7071,5582,5816,5069,2338
1,S_0002_HD01,응봉사거리,5,0,0,109,1174,4479,3158,7436,...,6587,7683,7491,7319,7142,5161,4262,4926,4168,1800
2,S_0003_GH23,금호역,10,4,0,0,1781,2011,3793,5958,...,3911,3576,3199,3168,2591,2252,1901,2024,1492,699
3,S_0004_OS00,옥수파출소 앞,3,1,0,1,890,1234,1388,4682,...,4851,4441,4701,4472,3646,2810,2613,2218,1630,801
4,S_0005_SJ00,성동세무서,2,1,0,3,2111,1652,2885,5866,...,6484,6640,6216,8035,7900,4521,2826,2522,1969,742

In [16]:
df = data.drop(['지점코드', '지점명'], axis=1)

In [18]:
total_people = df.sum()

In [20]:
total_people

00시       741
01시       419
02시       431
03시       573
04시     35258
05시     49123
06시     64899
07시    125660
08시    180834
09시    154300
10시    148902
11시    159898
12시    182791
13시    192657
14시    199234
15시    216314
16시    221103
17시    216324
18시    210028
19시    153076
20시    125972
21시    123475
22시     96482
23시     45997
dtype: int64